nav i {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #797dfc;
  padding: 5px;
  transition: all 0.3s ease;
  position: relative;
}

nav i::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 999;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

nav i:hover::after {
  opacity: 1;
}
